- if @direct_messages
  - @direct_messages.each do |message|
    .row-fluid.message
      - sender = message.sender
      .span1.profile
        =image_tag sender.profile_image_url
      .span11
        .row
          .span11
            %b #{sender.name}
            @#{sender.screen_name}
            %span.grey #{time_ago_in_words message.created_at} ago
        .row
          .span10
            #{message.text}
          .span2
            %button.btn.btn-success Approve
            %button.btn.btn-danger Reject